{% extends 'base.html' %}
{% load static %}
{% load cache_bust %}

{% block title %} Log in {% endblock title %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/reg-form.css' %}?{% cache_bust %}" />
{% endblock styles %}

{% block content %}

<div class="reg-form-container">
    <form method="post">
        {% csrf_token %}
        <a class="home-btn" href="{% url 'home' %}"><i class="bi bi-arrow-left"></i></a>

        <h1>NatHair</h1>
        <hr>
        <h2>Log in</h2>

        <div class="reg-form-content">
            {{form.as_p}}
        </div>
        
        <button class="reg-btn" type="submit">log in</button>
    </form>
</div>

{% endblock content %}