{% extends 'base.html' %}
{% load static %}
{% load cache_bust %}

{% block title %} Log in {% endblock title %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/reg-form.css' %}?{% cache_bust %}" />
{% endblock styles %}

{% block content %}

<div class="reg-form-container">
    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <a class="home-btn" href="{% url 'home' %}"><i class="bi bi-arrow-left"></i></a>

        <h2>Log in</h2>
        <hr>
        <h4>NatHair</h4>

        <div class="reg-form-content">
            {% if form.errors %}
            <ul class="error-list">
                {% for field, errors in form.errors.items %}
                    {% for error in errors %}
                    <li><small>{{error}}</small></li>
                    {% endfor %}
                {% endfor %}
            </ul>
            {% endif %}

            {{form.username}}
            {{form.password}}
            <button class="reg-btn" type="submit">Log in</button>
        </div>
        
        
    </form>
</div>

{% endblock content %}