<nav>
    <div>
        <ul>
            <li><a href="{% url 'home' %}">NatHair</a></li>
            <li><a href="{% url 'landing-page' %}">our story</a></li>
        </ul>
    </div>

    <div>
        <ul>
        <li><a href="">add routine</a></li>
        <li><a href="{% url 'product_list' %}">hair products</a></li>
        </ul>
    </div>

    <div>
        <ul>
            {% if user.is_authenticated %}
            <li><a href="{% url 'profile' pk=user.pk %}">profile</a></li>
            <li><a href="{% url 'logout' %}">log out</a></li>
            {% else %}
            <li><a href="{% url 'signup' %}">sign up</a></li>
            <li><a href="{% url 'login' %}">log in</a></li>
            {% endif %}
        </ul>
    </div>
</nav>
