{% extends 'base.html' %}
{% load static %}
{% load cache_bust %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/profile.css' %}?{% cache_bust %}">
<link rel="stylesheet" href="{% static 'css/routine.css' %}?{% cache_bust %}" />
{% endblock %}
{% block title %}Profile : @{{user_object.username}}{% endblock title %}

{% block content %}
<div class="user-profiles">
    <div class="profile-card">
        <a href="{% url 'update_profile' %}" class="profile-btn">Update Profile</a>
        <div class="user-info">
            {% if user_profile.profile_pic %}
            <img src="{{user_profile.profile_pic.url}}" alt="User Profile Picture" class="profile-img">
            {% else %}
            <img src="{% static 'img/default_img/default_texture_img.png' %}" alt="User Profile Picture" class="profile-img">
            {% endif %}
            <div>
                {% if user_profile.full_name %}
                <p><strong>{{user_profile.full_name}}</strong></p>
                {% else %}
                <p><strong>-</strong></p>
                {% endif %}
                <p><small>@{{user_object.username}}</small></p>
                {% if user_profile.location %}
                <p><small>{{user_profile.location}}</small></p>
                {% else %}
                <p><small>-</small></p>
                {% endif %}
            </div>
        </div>
        <div class="private-info">
            <p><small>{{user_object.email}}</small></p>
            {% if user_profile.date_of_birth %}
            <p><small>{{user_profile.date_of_birth}}</small></p>
            {% else %}
            <p><small>-</small></p>
            {% endif %}
        </div>
        
        <p class="user-bio"><small>{{user_profile.bio}}</small></p>

        <div class="user-saved-content">
            <a href="{% url 'saved_routines' %}"><i class="bi bi-folder"></i> Saved Routines</a>
            <a href="{% url 'saved_products' %}"><i class="bi bi-folder"></i> Saved Products</a>
        </div>
    </div>

    <hr>
    <div class="profile-card hair-profile">
        <a href="{% url 'hair_profile' %}" class="profile-btn">Update Hair Profile</a>
        <h4>Hair Profile</h4>
        <div class="hair-profile-info">
            <p><small>Hair Type</small></p>
            {% if hair_profile.hair_type %}
            <p><small>{{hair_profile.hair_type}}</small></p>
            {% else %}
            <p><small>-</small></p>
            {% endif %}
        </div>

        <div class="hair-profile-info">
            <p><small>Hair Porosity</small></p>
            {% if hair_profile.hair_porosity %}
            <p><small>{{hair_profile.hair_porosity}}</small></p>
            {% else %}
            <p><small>-</small></p>
            {% endif %}
        </div>

        <div class="hair-profile-info">
            <p><small>Hair Condition</small></p>
            {% if hair_profile.hair_condition %}
            <p><small>{{hair_profile.hair_condition}}</small></p>
            {% else %}
            <p><small>-</small></p>
            {% endif %}
        </div>

        <div class="hair-profile-info">
            <p><small>Hair Length</small></p>
            {% if hair_profile.hair_length %}
            <p><small>{{hair_profile.hair_length}}</small></p>
            {% else %}
            <p><small>-</small></p>
            {% endif %}
        </div>
    </div>

    <hr>

    <div class="profile-card">
        <a href="{% url 'texture_profile' %}" class="profile-btn">Update Texture Profile</a>
        <h4>Texture Profile</h4>
        <div class="texture-section">
            <div class=texture-img-container>
                {% if texture_profile.wet_hair %}
                <img src="{{texture_profile.wet_hair.url}}" alt="Wet Hair Texture" class="texture-img">
                {% else %}
                <img src="{% static 'img/default_img/default_texture_img.png' %}" alt="Wet Hair Texture" class="texture-img">
                {% endif %}
                <small>Wet Hair</small>
            </div>
            
            <div class="texture-img-container">
                {% if texture_profile.wet_hair_prod %}
                <img src="{{texture_profile.wet_hair_prod.url}}" alt="Wet Hair Texture With Product" class="texture-img">
                {% else %}
                <img src="{% static 'img/default_img/default_texture_img.png' %}" alt="Wet Hair Texture With Product" class="texture-img">
                {% endif %}
                <small>Wet hair (Product)</small>
            </div>
        </div>

        <div class="texture-section">
            <div  class="texture-img-container">
                {% if texture_profile.dry_hair %}
                <img src="{{texture_profile.dry_hair.url}}" alt="Dry Hair Texture" class="texture-img">
                {% else %}
                <img src="{% static 'img/default_img/default_texture_img.png' %}" alt="Dry Hair Texture" class="texture-img">
                {% endif %}
                <small>Dry Hair</small>
            </div>
    
            <div class="texture-img-container">
                {% if texture_profile.dry_hair_prod %}
                <img src="{{texture_profile.dry_hair_prod.url}}" alt="Dry Hair Texture With Product" class="texture-img">
                {% else %}
                <img src="{% static 'img/default_img/default_texture_img.png' %}" alt="Dry Hair Texture With Product" class="texture-img">
                {% endif %}
                <small>Dry Hair (Product)</small>
            </div>
        </div>
        
        
    </div>
</div>

<div class="routines-wrapper">
    <h3>Hair Routines</h3>
    {% if hair_routines %}
    <ul class="routines-list">
        {% for hair_routine in hair_routines %}
        <li>
            <a href="{% url 'routine_detail' hair_routine.id %}">
                
                <div class="user-info">
                    <img src="{{hair_routine.user.profile.profile_pic.url}}" alt="User Profile Picture">
                    <div class="user-name">
                        {% if hair_routine.user.profile.full_name %}
                        <p><small>{{hair_routine.user.profile.full_name}}</small></p>
                        {% endif %}
                        <p><small>@{{hair_routine.user.username}}</small></p>
                    </div>
                    
                </div>
                
                <p class="routine-name"><small>{{hair_routine.name}}</small></p>
                <p><small>{{hair_routine.description}}</small></p>

                {% if hair_routine.is_draft == False %}
                <p class="routine-date"><small>Posted {{hair_routine.posted_at}}</small></p>
                {% elif hair_routine.is_draft == True %}
                <p class="routine-date"><small>Draft</small></p>
                {% endif %}
            </a>
            
        </li>
        
    {% endfor %}
    </ul>
{% else %}
{% endif %}

</div>


{% endblock content %}