{% extends 'base.html' %}
{% load static %}
{% load cache_bust %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/routine.css' %}?{% cache_bust %}" />
{% endblock %}

{% block title %}Hair Routines{% endblock %}

{% block content %}
<div class="routines-wrapper">
    {% if routines %}
    <ul class="routines-list">
        {% for routine in routines %}
        <li>
            <a href="{% url 'routine_detail' routine.id %}">

                <div class="user-info">
                    <img src="{{routine.user.profile.profile_pic.url}}" alt="User Profile Picture">
                    <div class="user-name">
                        {% if routine.user.profile.full_name %}
                        <p><small>{{routine.user.profile.full_name}}</small></p>
                        {% endif %}
                        <p><small>@{{routine.user.username}}</small></p>
                    </div>
                    
                </div>
                
                <p class="routine-name"><small>{{routine.name}}</small></p>
                <p><small>{{routine.description}}</small></p>

                {% if routine.is_draft == False %}
                <p class="routine-date"><small>Posted {{routine.posted_at}}</small></p>
                {% elif routine.is_draft == True %}
                <p class="routine-date"><small>Draft</small></p>
                {% endif %}
            </a>
            
        </li>
        
    {% endfor %}
    </ul>
{% else %}
    <p class="no-routine-content">You have no saved routines</p>
{% endif %}

</div>

{% endblock %}