{% extends 'base.html' %}
{% load static %}
{% load cache_bust %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/routine.css' %}?{% cache_bust %}" />
<link rel="stylesheet" href="{% static 'css/reg-form.css' %}?{% cache_bust %}" />
{% endblock %}

{% block title %}{{routine.name}} - @{{routine.user.username}}{% endblock %}

{% block content %}
<div class="routines-wrapper">
    {% if routine.is_draft == True %}
    {% include 'routine_progress.html' %}
    {% endif %}
    <div class="routine-container">
        <div class="hair-routine">
            <div class="detail-user-info">
                <img src="{{routine.user.profile.profile_pic.url}}" alt="User Profile Picture">
                <div>
                    {% if routine.user.profile.full_name %}
                    <p>{{routine.user.profile.full_name}}</p>
                    {% endif %}
                    <p>@{{routine.user.username}}</p>
                </div>
            </div>
            <p class="routine-detail-name">{{routine.name}}</p>
            <p>{{routine.description}}</p>
            <h4>Additional Notes</h4>
            <p>{{routine.notes}}</p>
        </div>

        <div class="routine-steps">
            {% if routine_steps %}
            <div class="routine-steps-detail">
                <h4>Routine Steps and Products</h4>
                <ul>
                    {% for routine_step in routine_steps %}
                    <li>
                        <div>
                            <p class="routine-step-title">{{routine_step.title}}</p>
                            <p><small>{{routine_step.description}}</small></p>
                            <div class="routine-product">
                                <img src="{{routine_step.product.image}}" alt="{{routine_step.product}}" class="routine-image">
                                <div class="product-info">
                                    <p><small>{{routine_step.product.title}}</small></p>
                                    <p><small>{{routine_step.product.brand}}</small></p>
                                    <a href="" class="routine-product-btn">View Product</a>
                                </div>
                            </div>
                        </div>
                        <form action="{% url 'routine_detail' routine_id=routine.id %}" method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <input type="hidden" name="routine_step_id" value="{{ routine_step.id }}">
                            <button type="submit" class="step-delete-btn" name="delete_step"><i class="bi bi-trash3"></i></button>
                        </form>
                        
                    </li>
                    {% endfor %}
                </ul>
                <div class="extra-btns">
                    <button class="routine-product-btn" onclick="openModal()">Add Another Step</button>
                    <!-- An Another Step Modal -->
                    <div class="modal-overlay" id="modalOverlay" onclick="closeModal()"></div>
                    <div class="modal" id="myModal">
                        <span class="close" onclick="closeModal()"><i class="bi bi-x-circle-fill"></i></span>
                        <div class="reg-form-container">
                            <form action="{% url 'routine_detail' routine_id=routine.id %}" method="POST">
                                {% csrf_token %}
            
                                <div class="reg-form-content">
                                    <div class="custom-dropdown">
                                        {{form.product}}
                                        <small class="help-text"><i class="bi bi-info-circle"></i> {{form.product.help_text}}</small>
                                    </div>

                                    {{form.title}}
                                    <small class="help-text"><i class="bi bi-info-circle"></i> {{form.title.help_text}}</small>
                                    
                                    {{form.description}}
                                    <small class="help-text"><i class="bi bi-info-circle"></i> {{form.description.help_text}}</small>
                                    
                                </div>
                                <button type="submit" class="reg-btn">Add Step and Product</button>
                            </form>
                        </div>
                    </div>

                    <form action="{% url 'routine_detail' routine_id=routine.id %}" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <button type="submit" class="step-delete-btn" name="publish_routine">Post Routine</button>
                    </form>
                </div>
                

            </div>
            
            {% else %}
            <div class="reg-form-container">
                <form action="{% url 'routine_detail' routine_id=routine.id %}" method="POST">
                    <h2>Add Routine Step and Product</h2>
                    <hr>
                    {% csrf_token %}

                    <div class="reg-form-content">
                        <div class="custom-dropdown">
                            {{form.product}}
                            <small class="help-text"><i class="bi bi-info-circle"></i> {{form.product.help_text}}</small>
                        </div>
                        {{form.title}}
                        <small class="help-text"><i class="bi bi-info-circle"></i> {{form.title.help_text}}</small>
                        
                        {{form.description}}
                        <small class="help-text"><i class="bi bi-info-circle"></i> {{form.description.help_text}}</small>
                    </div>
                    <button type="submit" class="reg-btn">Add Step and Product</button>
                </form>
            </div>
            {% endif %}
        </div>
        
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
    function openModal() {
        document.getElementById('modalOverlay').style.display = 'block';
        document.getElementById('myModal').style.display = 'block';
    }

    function closeModal() {
        document.getElementById('modalOverlay').style.display = 'none';
        document.getElementById('myModal').style.display = 'none';
    }
</script>
{% endblock %}