{% extends 'base.html' %}
{% load cache_bust %}
{% load static %}

{% block title %}Product List{% endblock title %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/product-list.css' %}?{% cache_bust %}">
{% endblock styles %}

{% block content %}
<div class="product">
    <div>
        <img src="{{ product.image }}" alt="{{ product.title }}">
    </div>

    <div>
        <h2>{{ product.title }}</h2>
        <p>{{ product.brand }}</p>
        <p>{{ product.price }}</p>

        <a class="buy-btn" href="{{ product.url }}" target="_blank">shop now</a>
        
    </div>

</div>

<div class="">
    <form action="" method="post">
        {{form.as_p}}
    </form>
</div>

{% endblock content %}