{% extends 'base.html' %}
{% load cache_bust %}
{% load static %}

{% block title %}Product List{% endblock title %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/products.css' %}?{% cache_bust %}">
{% endblock styles %}

{% block content %}
<div class="products-wrapper">
    <div class="prdouct-container">
        <div class="product-list-intro">
            <h2>All Hair Products</h2>
            <p>{{products|length}} items</p>
        </div>
        
        <div class="product-list">
            {% for product in products %}
            <a href="{% url 'product_detail' product.id %}" class="product-item">
                <div class="product-info">
                    <img src="{{ product.image }}" alt="{{ product.title }}">
                    <div>
                        <p class="title">{{ product.title }}</p>
                        <small class="brand">{{ product.brand }}</small>
                        
                        <div class="analytics">
                            <small>
                                {% for star in "12345" %}
                                {% with forloop.counter as counter %}
                                    {% if counter <= product.average_rating|default:0 %}
                                        {% if counter == product.average_rating|default:0 %}
                                            <i class="bi bi-star-half"></i>
                                        {% else %}
                                            <i class="bi bi-star-fill"></i>
                                        {% endif %}
                                    {% else %}
                                        <i class="bi bi-star"></i>
                                    {% endif %}
                                {% endwith %}
                                {% endfor %}
                            </small>
                        
                            <small class="saves"><i class="bi bi-folder"></i> {{product.num_saves}}</small>
                        </div>
                        
                    </div>
                </div>
        
            </a>
            {% empty %}
            <li> There are currently no products</li>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}