{% extends 'base.html' %}
{% load custom_filters %}
{% load cache_bust %}

{% load static %}

{% block title %}Product List{% endblock title %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/product-list.css' %}?{% cache_bust %}">
{% endblock styles %}

{% block content %}
<div class="product-wrapper">
    <div class="product">
        <div class="rate-stars">
            {% for star in "12345" %}
                {% with forloop.counter as counter %}
                    {% if counter <= product.average_rating|default:0 %}
                        {% if counter == product.average_rating|default:0 %}
                            <i class="bi bi-star-half"></i>
                        {% else %}
                            <i class="bi bi-star-fill"></i>
                        {% endif %}
                    {% else %}
                        <i class="bi bi-star"></i>
                    {% endif %}
                {% endwith %}
            {% endfor %}
        </div>

        <img src="{{ product.image }}" alt="{{ product.title }}">
        <p><strong>{{ product.title }}</strong></p>
        <p><small>{{ product.brand }}</small></p>
        <p>{{ product.price }}</p>
    
        <div class="product-btn-wrapper">
            <p><small>This product has been saved {{ saved_product_count }} times</small></p>
            <div class="product-btn-container">
                <form method="post" action="{% url 'save_product' product.id %}">
                    {% csrf_token %}
                    <button type="submit" class="product-btn"><i class="bi bi-folder-plus"></i> Save Product</button>
                </form>
                <a class="product-btn" href="{{ product.url }}" target="_blank"><i class="bi bi-cart"></i> Shop Now</a>
            </div>
        </div> 
    </div>
    
    <div class="product-comments">
        <div class="comments">
            <h3>Ratings and Comments <small>{{product_reviews.count}}</small></h3>

            
            <ul>
            {% if product_reviews %}
                {% for product_review in product_reviews %}
                <li>
                    <p><small><strong>@{{product_review.user.username}}</strong></small><br>
                        <small>{{product_review.review_date}}</small>
                    </p>
                    
                    <div class="rate-stars">
                        {% for _ in product_review.rate_value|default:0|get_range %}
                            <i class="bi bi-star-fill"></i>
                        {% endfor %}
                        {% for _ in "12345" %}
                            <i class="bi bi-star"></i>
                        {% endfor %}
                    </div>  
                    <p><small>{{product_review.comment}}</small></p>
                </li>
                {% endfor %}
            {% else %}
                <li><small>This product has no reviews yet.</small></li>
            {% endif %}
            </ul>
            
        </div>

        <form class="rate-form" action="{% url 'product_detail' product_id=product.id %}" method="POST">
            {% csrf_token %}

            <h4>Rate this product</h4>
            <div class="custom-dropdown">
                {{form.rate_value}}
            </div>
            
            <div>
                <p>{{form.comment}}</p>
                <p><small>{{form.comment.help_text}}</small></p>
            </div>
            <button type="submit" class="rate-form-btn">Submit Review</button>
        </form>
    
        
    </div>
</div>




{% endblock content %}