.product{
    background-color: white;
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 30px;
    border-radius: 20px;
}

.buy-btn{
    display: block;
    background: var(--green);
    border-radius: 8px;
    box-shadow: var(--shadow-2);
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 8px;
}

.product-comments{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.rate-form{
    background-color: var(--green);
    width: 40%;
    padding: 20px;
    border-radius: 10px;
    color: white;
}

.rate-starts{
    display: flex;
    gap: 10px;
}

.comments{
    width: 40%;
}

.comments ul{
    list-style-type: none;
    padding-left: 0;

}

.comments ul li{
    background-color: white;
    padding: 10px;
    border-radius: 5px;
}