.products-wrapper{
    display: flex;
    justify-content: center;
    margin: 50px 0;
}
.product-container{
    display: flex;
    flex-direction: column;
}

.product-list-intro{
    padding-bottom: 50px;
}
.product-list{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.product-list .product-item{
    display: block;
    background-color: white;
    box-shadow: var(--shadow-2);
    text-decoration: none;
    color: var(--black);
    padding: 20px 50px;
    border-radius: 10px;
    width: 60vw;
    margin-bottom: 20px;
}

.product-item .product-info{
    display: flex;
    align-items: center;
    gap: 30px;
}

.product-item .product-info .analytics{
    margin-top: 10px;
    color: var(--green);
}

.product-item .product-info .analytics .saves{
    margin-top: 10px;
}

.product-item .product-info small{
    display: block
}

.product-item .product-info img{
    width: 120px;
    height: auto;
}

.product-item .product-info .title {
    font-weight: 700;
    margin: 0;
}

.product-item .product-info .brand{
    font-weight: 400;
}

.product-list li form{
    position: absolute;
    right: 20px;
    top: 20px;
}
.product-list .product-item form {
    display: flex;
    justify-content: flex-end;
}
.product-list .product-item form .unsave-btn{
    background-color: var(--green);
    color:white;
    cursor: pointer;
    border: 1px solid var(--green);
    padding: 6px 10px;
    border-radius: 10px;
    box-shadow: var(--shadow-3);
}

.product-list li form .unsave-btn:hover{
    background-color: white;
    color: var(--green);
}

.product-list li span{
    display: block;
}



.product-btn{
    display: block;
    background-color: var(--green);
    color: white;
    border-radius: 8px;
    padding: 8px;
    margin: 20px 0;
    text-align: center;
    text-decoration: none;
    box-shadow: var(--shadow-2);
}
