.reg-form-container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    margin-top: 50px;
    
}

.reg-form-container form{
    background-color: var(--green);
    padding: 30px;
    color: white;
    box-shadow: var(--shadow-1);
    border-radius: 10px;
    max-width: 50vw;
}

.reg-form-container form input{
    box-sizing: border-box;
    border: 1px solid white;
    margin: 10px 0;
    width: 100%;
    height: 30px;
    padding: 5px;
    border-radius: 5px;
    outline: none;
}

 /* Style for the file input container */
 .file-input-container form div p{
    width: 100%;
 }
 .file-input-container {
    width: auto;
    margin:0 auto;
    /* overflow: hidden; */
}

/* Style for the actual file input */



.reg-form-container form textarea{
    box-sizing: border-box;
    border: 1px solid white;
    margin: 10px 0;
    width: 100%;
    height: 30opx;
    padding: 5px;
    border-radius: 5px;
    outline: none;
}

.home-btn{
    width: 40px;
    height: 40px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-decoration: none;
    border: 1px solid white;
    border-radius: 50%;
}

h2, h4{
    margin: 0;
    text-align: center;
    font-weight: 600;
}

hr{
    border: none;
    border-top: 1px solid white;
}

.reg-form-content{
    margin: 30px 0;
}

.reg-form-content .form-flex{
    display: flex;
    gap: 10px;
}

.reg-btn{
    display: block;
    width: 100%;
    padding: 12px 16px;
    margin: 10px auto;
    border-radius: 6px;
    color: white;
    border: 1px solid white;
    text-align: center;
    font-weight: 900;
    background-color: var(--green);
    cursor: pointer;
    box-shadow: var(--shadow-3);
}

.reg-btn:hover{
    background-color: white;
    color: var(--green);
}

.reg-btn-alt{
    display: block;
    width: 100%;
    padding: 12px 16px;
    margin: 10px auto;
    border-radius: 6px;
    color: var(--green);
    border: 1px solid white;
    text-align: center;
    font-weight: 900;
    background-color: white;
    cursor: pointer;
    box-shadow: var(--shadow-3);
}

.reg-btn-alt:hover{
    background-color: var(--green);
    color: white;
}

.error-list, .messages{
    padding-left: 20px;
}

.custom-dropdown{
    display: block;
    margin: 20px 0;
}

.custom-dropdown select{
    padding: 10px;
    font-size: 16px;
    color: white;
    border: 1px solid white;
    border-radius: 4px;
    background-color: var(--green);
    width: 100%;
    margin: 10px 0;
}

/* .custom-dropdown::after {
    content: '\25BC'; 
    position: absolute;
    top: 50%;
    right: 50px;
    transform: translateY(-50%);
} */

/* Style for the dropdown options */
.custom-dropdown select option {
    padding: 10px;
    border: 1px solid white;
}

.input-label, label{
    display: block;
}

input[file]{
    display: block;
}

.texture-heading{
    margin-top: 50px;
}

.help-text{
    display: block;
    margin-bottom: 30px;
}

.routine-progress{
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 50px;
    color: grey;
}

.routine-progress p {
    display: flex;
    align-items: center;
    gap: 5px;
}

.routine-progress p span{
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid grey; 
    border-radius: 50%;
}

.active-routine-step{
    color: var(--black);
}

.active-routine-step span{
    border: 1px solid var(--black)!important;
    background: var(--black);
    color: white;
    box-shadow: var(--shadow-3); 
}