.routines-wrapper{
    margin: 50px 0;
}

.routines-list{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-left: 0;
}

.routines-list li{
    width: 18rem;
    height: 18rem;
    box-shadow: var(--shadow-3);
    border-radius: 10px;
    position: relative;
}

.routines-list li a{
    position:absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    text-decoration: none;
    padding: 10px;
    color: var(--black);
}

.routines-list li a p{
    margin:5px 0;
}

.routines-list li a .user-info{
    display: flex;
    align-items:center;
    gap: 10px;
}

.routines-list li a .user-info .user-name p{
    margin:0;
}

.routines-list li a .user-info img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.routines-list li a .routine-name{
    color: var(--green);
    font-weight: 900;
}